*~
a.out
.bin
build
.build
build2
.cache
*.cereal
.compose-data
*.db
.db-data
dist
dist/
*.egg-info
.env
.envrc-extra
.envs.d
.fab-env
*.log
MANIFEST
.nocommit
node_modules
*.o
*.out
.peru
peru-vendor
*.pyc
__pycache__
*.pyo
*.so
*.sublime-workspace
*.swp
tags
.tags
*.tar.gz
tmp
.tmp
*.tmp
tmp2
.vagrant
.venv
.venvs.d
.volatile
.zwc
